{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static './styling.css' %}" />
<head>
<title>ChatBot Application</title>
</head>

<body>
 <nav id="nav-bar">
      <header id="heading">Chat With Us</header>
        
        <a href="#Home" class="nav-link" >Home</a>
      </div>
      
        <a href="accounts/register" class="nav-link" >Register</a>
      </div>
      
        <a href="accounts/login" class="nav-link" >Login</a>
      </div>
      
    </nav>
 <div id="main-doc"></div>
<footer id="footer">
  @copyright: anuditakeshri
</footer>   

    
    
</body>

</html>